<aside>
    <div class="top">
        <div class="logo">
            <img src="~/images/logo1.png" />
            <h1>
                <span class="primary">OK</span><span class="danger">SK</span><span class="primary">UG</span>
            </h1>
        </div>
        <div class="close" id="close-btn">
            <span class="material-symbols-sharp">close</span>
        </div>
    </div>
    <div class="sidebar" class="active">
        <a href="~/Personal/Index/">
            <span class="material-symbols-sharp">grid_view</span>
            <h3>Dashboard</h3>
        </a>
        <a href="~/Personal/PersonalListDashboard/" >
            <span class="material-symbols-sharp">person</span>
            <h3>Personeller</h3>
        </a>
        <a href="~/Personal/AddPersonel/">
            <span class="material-symbols-sharp">person_add</span>
            <h3>Personel Ekle</h3>
        </a>
        <a href="~/Computer/Index/">
            <span class="material-symbols-sharp">inventory</span>
            <h3>Bilgisayarlar</h3>
            <span class="order-count"></span>
        </a>
        <a href="~/Computer/AddComputer/">
            <span class="material-symbols-sharp">magnify_docked</span>
            <h3>Bilgisayar Ekle</h3>
            <span class="message-count"></span>
        </a>
        <a href="~/Service/Index/">
            <span class="material-symbols-sharp">inventory</span>
            <h3>Servis</h3>
        </a>
        <a href="#">
            <span class="material-symbols-sharp">report</span>
            <h3>Servis Gecmisi</h3>
        </a>
        <a href="#">
            <span class="material-symbols-sharp">settings</span>
            <h3>Settings</h3>
        </a>
        <a href="#">
            <span class="material-symbols-sharp">add</span>
            <h3>Add Products</h3>
        </a>
        <a href="#">
            <span class="material-symbols-sharp">logout</span>
            <h3>Raporlar</h3>
        </a>
    </div>
</aside>