<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" ,initial-scla="1.0" />
    <title>Netix Project AdminPage</title>

    <!--Material CDN-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />

    <!--STYLESHEET-->
    <link rel="stylesheet" href="~/css/style.css/" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/index.js"></script>
    <script src="~/js/orders.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
<div class="container">

    @await Html.PartialAsync("~/Views/Shared/DashboardMenuBarPartial.cshtml")


    <!-------------- END OF A SIDE BAR -------------->
    <!-------------- Dashboard -------------->
    <main>
            <div class="recent-orders">
                @RenderBody()
                
            </div>
       
    </main>
    
    <div class="right">
        <div class="top">
            <button id="menu-btn">
                <span class="material-icons-sharp">menu</span>
            </button>
            <div class="theme-toggler">
                <span class="material-icons-sharp active">light_mode</span>
                <span class="material-icons-sharp">dark_mode</span>
            </div>
            <div class="profile">
                <div class="info">
                    <p>Merheba, <b>Admin</b></p>
                    <small class="text-muted">Admin</small>
                </div>
                <div class="profile-photo">
                    <img src="~/images/profile-1.jpg" />
                </div>
            </div>
        </div>
        <!--------------END OF TOP -------------->
        <div class="recent-updates">
            <div class="card-updates">
                <h2>Son Güncellemeler</h2>
                <div class="updates">
                    <div class="update">
                        <div class="profile-photo">
                            <img src="~/images/profile-1.jpg" />
                        </div>
                        <div class="message">
                            <p><b>Onur Kilinc</b> bilgisayar bilgilerini güncelledi.</p>
                            <small class="text-muted">2 Minutes Ago</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img src="~/images/profile-1.jpg" />
                        </div>
                        <div class="message">
                            <p><b>Samet SELKİ</b> bilgisayar bilgilerini güncelledi.</p>
                            <small class="text-muted">2 Minutes Ago</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img src="~/images/profile-1.jpg" />
                        </div>
                        <div class="message">
                            <p>
                                <b>Abdullah SEISOGLU</b> bilgisayar bilgilerini güncelledi.
                            </p>
                            <small class="text-muted">2 Minutes Ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service-list">
                <h2>Servis Bilgileri</h2>
                <div class="service-updates">
                    <div class="service-com">
                        <div class="icon">
                            <span class="material-symbols-sharp">build</span>
                        </div>
                        <div class="right">
                            <div class="info">
                                <h3>Servisteki Bilgisayarlar</h3>
                                <small class="text-muted">Last 1 Week</small>
                            </div>
                            <h5>100</h5>
                        </div>
                    </div>
                    <div class="service-delivered">
                        <div class="icon">
                            <span class="material-symbols-sharp">local_shipping</span>
                        </div>
                        <div class="right">
                            <div class="delivered">
                                <h3>Teslim Edilen Bilgisayarlar</h3>
                                <small class="text-muted">Last 1 Week</small>
                            </div>

                            <h3>100</h3>
                        </div>
                    </div>
                    <div class="sparepart">
                        <div class="icon">
                            <span class="material-symbols-sharp">settings_b_roll</span>
                        </div>
                        <div class="right">
                            <div class="sparepart-wait">
                                <h3>Yedek Parça Bekleyen Bilgisayarlar</h3>
                                <small class="text-muted">Last 1 Week</small>
                            </div>
                            <h3>100</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/index.js"></script>
    <script src="~/js/orders.js"></script>
    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
