
    <h1>Dashboard</h1>
    <div class="date">
        <input type="date" />
    </div>

    <div class="insights">
        <!-------------- Total Sales -------------->
        <div class="sales">
            <span class="material-symbols-sharp">point_of_sale</span>
            <div class="middle">
                <div class="left">
                    <h3>Total Sales</h3>
                    <h1>$25.000</h1>
                </div>
                <div class="progress">
                    <svg>
                        <circle cx="38" cy="38" r="36"></circle>
                    </svg>
                    <div class="number">
                        <p>81%</p>
                    </div>
                </div>
            </div>
            <small class="text-muted">Last 24 hours</small>
        </div>
        <!-------------- End Of Total Sales -------------->
        <!-------------- Total Expenses -------------->
        <div class="Expenses">
            <span class="material-symbols-sharp">leaderboard</span>
            <div class="middle">
                <div class="left">
                    <h3>Total Expenses</h3>
                    <h1>$14.000</h1>
                </div>
                <div class="progress">
                    <svg>
                        <circle cx="38" cy="38" r="36"></circle>
                    </svg>
                    <div class="number">
                        <p>62%</p>
                    </div>
                </div>
            </div>
            <small class="text-muted">Last 24 hours</small>
        </div>

        <!-------------- End Of Total Expenses -------------->
        <!-------------- Total Income -------------->
        <div class="income">
            <span class="material-symbols-sharp">savings</span>
            <div class="middle">
                <div class="left">
                    <h3>Total Income</h3>
                    <h1>$10.000</h1>
                </div>
                <div class="progress">
                    <svg>
                        <circle cx="38" cy="38" r="36"></circle>
                    </svg>
                    <div class="number">
                        <p>44%</p>
                    </div>
                </div>
            </div>
            <small class="text-muted">Last 24 hours</small>
        </div>
        <!-------------- End Of Total Income -------------->
    </div>
    <!-------------- End Of Total Sales -------------->
    <!-------------- Recent Orders -------------->
    
